body {
  /* SELECT */
  /* TABS */
  /* ACCORDEON */
  /* DATEPICKER */
  /* CHECKBOX */
  /* TEXT */
  /* UI MODAL */ }
  body .ui-collapsible,
  body .ui-select,
  body .ui-datepicker,
  body .ui-datepicker-calendar,
  body .ui-calendar-week__date,
  body .ui-checkbox__label-text,
  body .ui-textbox,
  body .ui-modal {
    font-family: 'Lato', sans-serif; }
  body .ui-select,
  body .ui-datepicker {
    margin-bottom: 0;
    position: relative; }
  body .ui-select.is-active:not(.is-disabled) .ui-select__label-text,
  body .ui-select.is-active:not(.is-disabled) .ui-select__icon-wrapper .ui-icon,
  body .ui-select.is-active:not(.is-disabled) .ui-select__display,
  body .ui-select-option.is-selected,
  body .ui-datepicker.is-active:not(.is-disabled) .ui-datepicker__label-text,
  body .ui-datepicker.is-active:not(.is-disabled) .ui-datepicker__icon-wrapper .ui-icon,
  body .ui-datepicker.is-active:not(.is-disabled) .ui-datepicker__display,
  body .ui-datepicker-option.is-selected {
    color: #386D7D; }
  body .ui-select__label-text,
  body .ui-datepicker__label-text {
    font-size: 10px;
    line-height: 1.56em;
    color: #386D7D; }
  body .ui-select:hover:not(.is-disabled) .ui-select__label-text,
  body .ui-select:hover:not(.is-disabled) .ui-datepicker__label-text {
    color: #386D7D; }
  body .ui-select.has-label .ui-select__icon-wrapper,
  body .ui-datepicker.has-label .ui-datepicker__icon-wrapper {
    padding-top: 0;
    position: absolute;
    top: 16px;
    right: 0; }
  body .ui-select__display,
  body .ui-select:not(.is-multiple) .ui-select__display,
  body .ui-datepicker__display,
  body .ui-datepicker:not(.is-multiple) .ui-datepicker__display {
    border-bottom: 0;
    height: auto;
    min-height: auto; }
  body .ui-select__display-value,
  body .ui-datepicker__display-value {
    height: auto;
    line-height: 1.5em;
    padding-right: 20px;
    z-index: 10;
    color: #1A323B; }
    body .ui-select__display-value.is-placeholder,
    body .ui-datepicker__display-value.is-placeholder {
      color: #AFC5CB; }
  body .ui-select__dropdown-button,
  body .ui-datepicker__dropdown-button {
    display: none; }
  body .ui-tabs {
    margin-bottom: 0; }
    body .ui-tabs.ui-tabs--background-color-default .ui-tabs__header {
      background: transparent; }
    body .ui-tabs .ui-tabs__header-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 12px;
      border-bottom: 1px solid #EBF0F2; }
    body .ui-tabs .ui-tab-header-item {
      margin: 0 36px;
      padding: 0 10px 8px;
      text-transform: none;
      min-width: auto;
      height: auto; }
      body .ui-tabs .ui-tab-header-item.is-active {
        color: #1A323B;
        font-weight: bold; }
      body .ui-tabs .ui-tab-header-item:after {
        background-color: #254854; }
    body .ui-tabs .ui-tabs__body {
      border: none;
      padding: 0; }
  body .ui-collapsible {
    margin-bottom: 0;
    padding: 24px 0;
    border-bottom: 1px dashed #E3E6F1; }
    body .ui-collapsible .ui-collapsible__header, body .ui-collapsible .ui-collapsible__header:hover, body .ui-collapsible .ui-collapsible__header:focus,
    body .ui-collapsible:not(.is-disabled) .ui-collapsible__header:hover,
    body .ui-collapsible:not(.is-disabled) .ui-collapsible__header:focus {
      background: transparent; }
    body .ui-collapsible .ui-collapsible__header {
      min-height: auto;
      height: auto;
      padding: 0;
      font-size: inherit; }
    body .ui-collapsible .ui-collapsible__body {
      border: none;
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.7em;
      padding: 0 0 0 40px; }
  body .ui-datepicker__content .tippy-popper {
    min-width: 369px; }
    body .ui-datepicker__content .tippy-popper .tippy-tooltip {
      border-radius: 8px; }
    body .ui-datepicker__content .tippy-popper .ui-datepicker-calendar__header {
      display: none; }
    body .ui-datepicker__content .tippy-popper .ui-datepicker-calendar__body {
      width: 100%;
      padding: 0 24px 24px; }
      body .ui-datepicker__content .tippy-popper .ui-datepicker-calendar__body .ui-icon {
        color: #7096A1;
        font-size: 28px; }
    body .ui-datepicker__content .tippy-popper .ui-calendar-controls {
      height: 56px; }
    body .ui-datepicker__content .tippy-popper .ui-datepicker-calendar__body, body .ui-datepicker__content .tippy-popper .ui-datepicker-calendar__years {
      height: auto; }
    body .ui-datepicker__content .tippy-popper .ui-calendar-controls__month-and-year {
      color: #386D7D;
      font-size: inherit;
      font-weight: 400; }
    body .ui-datepicker__content .tippy-popper .ui-calendar-month__header th {
      font-size: 10px;
      line-height: 156%;
      color: #7096A1;
      padding: 8px 0;
      height: auto; }
    body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells td {
      text-align: center;
      vertical-align: center; }
      body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells td:before {
        min-height: 32px; }
      body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells td:first-child .ui-calendar-week__date, body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells td:last-child .ui-calendar-week__date {
        color: #AFC5CB; }
    body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells .ui-calendar-week__date {
      color: #1A323B;
      width: 32px;
      height: 32px;
      min-height: 32px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: 16px;
      line-height: 150%; }
      body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells .ui-calendar-week__date.is-today {
        font-weight: normal; }
      body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells .ui-calendar-week__date.is-selected {
        color: #fff; }
      body .ui-datepicker__content .tippy-popper .ui-calendar-week--has-square-cells .ui-calendar-week__date.is-in-other-month {
        color: #AFC5CB;
        visibility: visible; }
  body .ui-checkbox {
    margin-bottom: 0; }
    body .ui-checkbox:not(.is-disabled):not(.is-checked):hover .ui-checkbox__checkmark-background {
      border: 1px solid #AFC5CB; }
  body .ui-checkbox__checkmark-background {
    border: none;
    border: 1px solid #AFC5CB; }
  body .ui-checkbox__checkmark {
    font-size: 12px;
    border-radius: 4px; }
  body .ui-checkbox__label-text {
    font-size: 16px;
    line-height: 150%; }
  body .ui-checkbox--color-accent:not(.is-disabled).is-checked:hover .ui-checkbox__checkmark-background,
  body .ui-checkbox--color-accent:not(.is-disabled).is-checked.is-active .ui-checkbox__checkmark-background,
  body .ui-checkbox--color-accent.is-checked .ui-checkbox__checkmark-background {
    border-color: #70B9C3;
    background-color: #70B9C3; }
  body .ui-textbox {
    margin-bottom: 0; }
    body .ui-textbox.ui-search-input {
      position: relative; }
      body .ui-textbox.ui-search-input .ui-textbox__input {
        padding-left: 44px; }
        body .ui-textbox.ui-search-input .ui-textbox__input::-webkit-input-placeholder {
          color: #7096A1; }
        body .ui-textbox.ui-search-input .ui-textbox__input:-ms-input-placeholder {
          color: #7096A1; }
        body .ui-textbox.ui-search-input .ui-textbox__input::-ms-input-placeholder {
          color: #7096A1; }
        body .ui-textbox.ui-search-input .ui-textbox__input::placeholder {
          color: #7096A1; }
      body .ui-textbox.ui-search-input .ui-textbox__icon-wrapper {
        padding: 0;
        position: absolute;
        left: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    body .ui-textbox.ui-email-input {
      position: relative; }
      body .ui-textbox.ui-email-input .ui-textbox__input {
        padding-left: 44px; }
      body .ui-textbox.ui-email-input .ui-textbox__icon-wrapper {
        padding: 0;
        position: absolute;
        left: 16px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 24px;
        max-height: 24px; }
    body .ui-textbox.ui-password-input {
      position: relative; }
      body .ui-textbox.ui-password-input .ui-textbox__input {
        padding-right: 44px; }
      body .ui-textbox.ui-password-input .ui-textbox__icon-wrapper {
        padding: 0;
        position: absolute;
        right: 20px;
        top: calc(50% + 8px);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer; }
    body .ui-textbox .ui-textbox__label-text {
      font-size: 10px;
      line-height: 156%;
      color: #386D7D;
      padding: 0 4px; }
    body .ui-textbox .ui-textbox__input,
    body .ui-textbox .ui-textbox__textarea {
      border: 1px solid #AFC5CB;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: #fff;
      padding: 8px;
      font-size: 16px;
      line-height: 1.5em;
      height: auto;
      border-bottom-width: 1px; }
    body .ui-textbox.is-invalid .ui-textbox__input,
    body .ui-textbox.is-invalid .ui-textbox__textarea {
      border-color: #E42526;
      color: #E42526;
      background-color: #FCE9E9; }
    body .ui-textbox.is-invalid .ui-textbox__label-text {
      color: #E42526; }
    body .ui-textbox .ui-textbox__feedback {
      padding-top: 5px; }
    body .ui-textbox .ui-textbox__counter {
      font-size: 10px;
      line-height: 156%;
      color: #386D7D; }
    body .ui-textbox.is-active:not(.is-disabled) .ui-textbox__input,
    body .ui-textbox.is-active:not(.is-disabled) .ui-textbox__textarea {
      border-bottom-width: 1px; }
    body .ui-textbox.is-active:not(.is-disabled):not(.is-invalid) .ui-textbox__label-text {
      color: #386D7D; }
    body .ui-textbox.is-active:not(.is-disabled):not(.is-invalid) .ui-textbox__input,
    body .ui-textbox.is-active:not(.is-disabled):not(.is-invalid) .ui-textbox__textarea {
      border-bottom-width: 1px;
      border-bottom-color: #AFC5CB; }
  body .ui-modal {
    z-index: 9001; }
    body .ui-modal .ui-modal__container {
      border-radius: 8px; }
      body .ui-modal .ui-modal__container .ui-modal__body {
        padding: 1.5rem;
        font-size: 1rem; }
