
node_modules
packaged.*.yaml
*.bak
.DS_Store
documentation
lambdas/layers/nodejs/*
UI/statics/*
lambdas/CloudWatch/model/*
lambdas/SNS/model/*
/lambdas/Cognito/model/
/lambdas/EventBridge/model/
/lambdas/S3/model/
UI/cypress/integration-examples/*
*/package-lock.json

lambdas/API/package-lock.json

lambdas/CloudWatch/package-lock.json

lambdas/Cognito/package-lock.json

lambdas/EventBridge/package-lock.json

lambdas/SNS/package-lock.json

lambdas/WCS/package-lock.json

UI/package-lock.json

.env

/tests/.nyc_output/*
.nyc_output
yarn.lock

assets/css/App.css

assets/css/App.css.map
.vscode/launch.json
