<div class="main preloader_wrapper articles-width">
    <div class="preloader_overlay" v-show="preload"><ui-progress-circular color="primary" ></ui-progress-circular></div>

    <div class="main_section articles_list_main_section" v-if="!editItem">
        <h3 class="big_text form_section_title"><img src="./img/basic_info_icon.svg" alt="" class="form_section_title_icon">{{tr('adev_articles_list_title')}}</h3>

        <div class="edit_articles_filter_row">
            <div class="left">
                <input type="text" v-model="articlesSearch" @input="forceUpdate" class="edit_articles_search_input ngl">
                <button class="edit_articles_search_btn" @click="searchClick">Go</button>
            </div>
            <div class="right">        
            
                <div class="form_input_hr">

                </div>

            
            </div>
        </div>
        
        <div class="edit_articles_list" v-if="articlesList.length">
            <div class="edit_articles_head">
                <div class="title">Title</div>
                <div class="date">Date</div>
                <div class="cat">Category</div>
                <div class="actions">Actions</div>
            </div>
            <div class="item" v-if="item" v-for="item in filteredList">
                <div class="title">
                    <p class="article_list_item_title">{{item.articleTitle}}</p>
                    <p class="author" v-if="usersList[item.editor] && usersList[item.editor].name">{{tr('author')}}: {{usersList[item.editor].name}} {{usersList[item.editor].surname}}</p>
                </div>
                <div class="date">
                    <p>{{getDatePublished(item).date}} {{getDatePublished(item).time}}</p>
                </div>
                <div class="cat">{{item.status}}</div>
                <div class="actions">
                    <a href="#" @click="goToEdit(item)"><span class="icon_box"><img src="" alt=""></span>{{tr('edit')}}</a> 
                    <a href="#" @click="deleteItem(item)"><span class="icon_box"><img src="" alt=""></span>{{tr('delete')}}</a>
                </div>
            </div>      
            
        </div>

    </div>

    <div class="articles_item_editor" v-if="editItem && !preview">
        <div class="main_section invitations_main_section">
            <h3 class="big_text form_section_title"><img src="./img/basic_info_icon.svg" alt="" class="form_section_title_icon">{{tr('adev_article_editor')}}</h3>
            <div class="form_input_row ">
                <ui-textbox 
                    :label="tr('adev_article_title_label')"
                    :placeholder="tr('adev_article_title_ph')" 
                    v-model="editItem.articleTitle"
                    class="ngl"
                >
                </ui-textbox>  
            </div>

        <p class="main_section_title big_text">
            {{tr('adev_article_cover')}}
        </p>
        
        <div class="form_input_row event_main_droparea ">
            <VueUploadComponent
            ref="event_main_upload"
            v-model="editItem.articleBranding.articleCover.new"
            drop=".event_main_droparea"
            :multiple="false"
            @input-file="inputFile"
            class="upload_image_iconstyle ngl"
            :drop-directory="false"
            >   
                <div v-if="coverUrl" class="preview_image_box">
                    <img :src="coverUrl" alt="" class="">
                </div>
                <div v-if="!coverUrl" class="placeholder_text">
                    <img src="../img/image_placeholder_img.svg" alt="" class="file_upload_icon">
                    <p class="file_upload_title">{{tr('adev_article_cover_ph_main')}}</p>
                    <p class="file_upload_desc">{{tr('adev_event_cover_ph_desc')}}</p>    
                </div>

                <div class="icons_box" v-if="coverUrl">
                    <span @click="removeImage"><img src="../img/remove_icon.svg" alt=""></span>
                    <span @click="editImage"><img src="../img/edit_icon.svg" alt=""></span>
                </div>
                
            </VueUploadComponent>
            
        </div>


        <p class="main_section_title big_text">
            {{tr('adev_article_thumbnail')}}
        </p>
        
        <div class="form_input_row event_banner_droparea ">
            <VueUploadComponent
            input-id="bannerInpt"
            ref="event_banner_upload"
            v-model="editItem.articleBranding.articleBanner.new"
            drop=".event_banner_droparea"
            :multiple="false"
            @input-file="inputBannerFile"
            @input-filter="inputBannerFilter"
            class="upload_image_iconstyle ngl"
            :drop-directory="false"
            >   
                <div v-if="bannerUrl" class="preview_image_box">
                    <img :src="bannerUrl" alt="" class="">
                </div>
                <div v-if="!bannerUrl" class="placeholder_text">
                    <img src="../img/image_placeholder_img.svg" alt="" class="file_upload_icon">
                    <p class="file_upload_title">{{tr('adev_event_banner_ph_main')}}</p>
                    <p class="file_upload_desc">{{tr('adev_event_banner_ph_desc')}}</p>    
                </div>

                <div class="icons_box" v-if="bannerUrl">
                    <span @click="removeImage('banner')"><img src="../img/remove_icon.svg" alt=""></span>
                    <span @click="editImage"><img src="../img/edit_icon.svg" alt=""></span>
                </div>
                
            </VueUploadComponent>
            
        </div>


            <div class="form_input_row">
                <Editor
                    :label="tr('adev_article_content_label')"
                  placeholder="placeholder"
                  @postWasUpdated="savePost"
                  :mobiledoc="currentMobiledoc"
                  ref="editorComponent">
                  <EditorToolbar />
                </Editor>
            </div>

            <div class="form_input_row">
                <ui-textbox 
                    :label="tr('adev_article_description')"
                    :placeholder="tr('adev_article_description')" 
                    v-model="editItem.articleDescription"
                    :multi-line="true"
                    class="ngl"
                    :maxlength="200"
                    :autosize="false"
                    :invalid="!editItem.articleDescription.length || editItem.articleDescription.length > 200"
                    >
                </ui-textbox>

            </div>
            <div class="form_input_row flex">

                <div class="form_input_hr">
                    <ui-datepicker
                        :placeholder="tr('select_a_date')"
                        iconPosition="right"
                        v-model="editItem.publishDate"
                        :lang="datepicker_lang"
                        class="ngl"
                    >
                        <img slot="icon" src="../img/calendar.svg" alt="">
                        {{tr('adev_article_publish_date')}}
                    </ui-datepicker>
                </div>

                 <div class="form_input_hr">
                    <ui-select
                        :label="tr('adev_article_publish_time')"
                        :placeholder="tr('adev_time_ph')"
                        :options="timeList"
                        v-model="editItem.publishTime"
                        iconPosition="right"
                        class="ngl"
                    >
                        <img slot="icon" src="../img/hsb_dropdown.svg" alt="">
                    </ui-select>
                </div>

            </div>
            <div class="form_input_row">
                <p class="form_input_row_label">
                    {{tr('tags')}}
                </p>
                <vue-tags-input
                    :placeholder="tr('adev_tags_article')"
                    v-model="tag"
                    :tags="editItem.tags"
                    class="ngl"
                    :add-on-key="[13,';',',']"
                    :allow-edit-tags="true"
                    @tags-changed="newTags => editItem.tags = newTags"
                />
            </div>
        
        </div>

        <div class="main_section contact_info_main_section">
            <div class="button_row_end flex">
                <toggle-button 
                    :value="editItem.status !== 'draft'"
                    :sync="true"
                    :labels="{checked:tr('publish'), unchecked: tr('draft')}"
                    :color="{checked: '#70B9C3', unchecked: '#C6E3E7', disabled: '#CCCCCC'}"
                    :height="40"
                    :width="editItem.status == 'moderation' ? 124 : 104"
                    :font-size="14"
                    :margin="8"
                    class="ngl"
                    @change="statusToggleChange"
                />
                <button class="btn btn_orange" @click="backToList" v-if="!preview">{{tr('back')}}</button>
                <button class="btn btn_owhite" @click="switchPreview" v-if="!preview">{{tr('preview')}}</button>
                <button class="btn btn_orange" @click="send">{{tr('update')}}</button>
            </div>
    
        </div>
    </div>

    <div class="articles_item_preview page_single_article" v-if="preview && editItem">
        <div class="article_wrapper">
            <div class="article_main">
                <div class="article_content">
                    <h1 class="article_title">{{editItem.articleTitle}}</h1>
                    <div class="article_image_box"><img class="article_image" :src="editItem.articleBranding.articleCover.url" alt="" v-if="editItem.articleBranding && editItem.articleBranding.articleCover.url"></div>
                    <div class="content" v-html="showContent(editItem.articleContent)">
                        {{showContent(editItem.articleContent)}}
                    </div>


                </div>
                <div class="button_row_end flex">
                    <button class="btn btn_orange" @click="switchPreview" v-if="preview">{{tr('edit')}}</button>
                </div>
            </div>
        </div>  
    </div>

    <ui-modal ref="articleModal" class="status_modal" removeHeader size="auto">
        <div class="status_modal_wrapper">
            <div class="content">
                <p class="modal_title">{{modalTitle}}</p>
                <p class="modal_text" v-html="modalMsg">{{modalMsg}}</p>
            </div>
        </div>

        <span class="status_modal_close" @click="modalClose"><img src="../../../img/close_medium.svg" alt=""></span>
    </ui-modal>
</div>