<div class="page_wrapper" v-if="localesLoaded">

	<section class="section_banner_howitworks homepage_banner">
		<div class="container">
			<h1 class="banner_title" v-html="tr('hiw_title')"></h1>
			<p class="banner_text">{{tr('hiw_banner_text')}}</p>
		</div>
	</section>

	<div class="section_howitworks_steps section_home_style">
		<div class="container">
			<h2 class="section_title" v-html="tr('hiw_steps_title')"></h2>
			<div class="items">
				<div class="item item1 flex">
					<div class="left image">
						<div class="image_box">
							<img src="@/img/howitworks/step1.png" alt="">
						</div>
					</div>
					<div class="right text_box">
						<div class="item_title_wrapper flex">
							<div class="icon_box"><img src="@/img/howitworks/step1_icon.svg" alt=""></div>
							<h3 class="item_title" v-html="tr('hiw_steps_1_title')"></h3>
						</div>
						<div v-html="tr('hiw_steps_1_textbox')"></div>
					</div>
					<img src="@/img/howitworks/steps_line1.png" alt="" class="line">
					<img src="@/img/howitworks/steps_bg_label1.jpg" alt="" class="num">
				</div>
				<div class="item item2 flex">
					<div class="left text_box">
						<div class="item_title_wrapper flex">
							<div class="icon_box"><img src="@/img/howitworks/step2_icon.svg" alt=""></div>
							<h3 class="item_title" v-html="tr('hiw_steps_2_title')"></h3>
						</div>
						<div v-html="tr('hiw_steps_2_textbox')"></div>
					</div>
					<div class="right image">
						<div class="image_box">
							<img src="@/img/howitworks/step2.png" alt="">
						</div>
					</div>
					<img src="@/img/howitworks/steps_line2.png" alt="" class="line">
					<img src="@/img/howitworks/steps_bg_label2.jpg" alt="" class="num">
				</div>
				<div class="item item3 flex">
					<div class="left image">
						<div class="image_box">
							<img src="@/img/howitworks/step3.png" alt="">
						</div>
					</div>
					<div class="right text_box">
						<div class="item_title_wrapper flex">
							<div class="icon_box"><img src="@/img/howitworks/step3_icon.svg" alt=""></div>
							<h3 class="item_title" v-html="tr('hiw_steps_3_title')"></h3>
						</div>
						<div v-html="tr('hiw_steps_3_textbox')"></div>
					</div>
					<img src="@/img/howitworks/steps_line3.png" alt="" class="line">
					<img src="@/img/howitworks/steps_bg_label3.jpg" alt="" class="num">
				</div>
				<div class="item item4 flex">
					<div class="left text_box">
						<div class="item_title_wrapper flex">
							<div class="icon_box"><img src="@/img/howitworks/step4_icon.svg" alt=""></div>
							<h3 class="item_title" v-html="tr('hiw_steps_4_title')"></h3>
						</div>
						<div class="hiw_accordeon">
							<ui-collapsible removeIcon disableRipple :open="accordions[0]" @open="onAccordionOpen(0)" @close="onAccordionClose(0)">
				                <div class="accordeon_header" slot="header">
				                    <div class="accordeon_title">{{tr('hiw_steps_4_item1_title')}}</div><div class="icon_block"></div>
				                </div>

				                <div class="accordeon_text">{{tr('hiw_steps_4_item1_text')}}</div>
				            </ui-collapsible>
				            <ui-collapsible removeIcon disableRipple :open="accordions[1]" @open="onAccordionOpen(1)" @close="onAccordionClose(1)">
				                <div class="accordeon_header" slot="header">
				                    <div class="accordeon_title">{{tr('hiw_steps_4_item2_title')}}</div><div class="icon_block"></div>
				                </div>

				                <div class="accordeon_text">{{tr('hiw_steps_4_item2_text')}}</div>
				            </ui-collapsible>
				            <ui-collapsible removeIcon disableRipple :open="accordions[2]" @open="onAccordionOpen(2)" @close="onAccordionClose(2)">
				                <div class="accordeon_header" slot="header">
				                    <div class="accordeon_title">{{tr('hiw_steps_4_item3_title')}}</div><div class="icon_block"></div>
				                </div>

				                <div class="accordeon_text">{{tr('hiw_steps_4_item3_text')}}</div>
				            </ui-collapsible>
				            <ui-collapsible removeIcon disableRipple :open="accordions[3]" @open="onAccordionOpen(3)" @close="onAccordionClose(3)">
				                <div class="accordeon_header" slot="header">
				                    <div class="accordeon_title">{{tr('hiw_steps_4_item4_title')}}</div><div class="icon_block"></div>
				                </div>

				                <div class="accordeon_text">{{tr('hiw_steps_4_item4_text')}}</div>
				            </ui-collapsible>
						</div>
					</div>
					<div class="right image">
						<div class="image_box">
							<img src="@/img/howitworks/step4.png" alt="">
						</div>
					</div>
					<img src="@/img/howitworks/steps_line4.png" alt="" class="line">
					<img src="@/img/howitworks/steps_bg_label4.jpg" alt="" class="num">
				</div>
				<div class="item item5 flex">
					<div class="left image">
						<div class="image_box">
							<img src="@/img/howitworks/step5.png" alt="">
						</div>
					</div>
					<div class="right text_box">
						<div class="item_title_wrapper flex">
							<div class="icon_box"><img src="@/img/howitworks/step5_icon.svg" alt=""></div>
							<h3 class="item_title" v-html="tr('hiw_steps_5_title')"></h3>
						</div>
						<div v-html="tr('hiw_steps_5_textbox')"></div>
					</div>
					<img src="@/img/howitworks/steps_line5.png" alt="" class="line">
					<img src="@/img/howitworks/steps_bg_label5.jpg" alt="" class="num">
				</div>
			</div>
			<div class="bottom_button_box">
				<p class="text">{{tr('hiw_steps_bottom_text')}}</p>
				<button class="btn btn_md btn_orange">{{tr('hiw_steps_bottom_button')}}</button>
			</div>
		</div>
	</div>

	<div class="section_features_home section_stands_home section_home_style" v-if="false">
		<div class="container">
			<div class="items">
				<div class="item flex">
					<div class="left text_box">
						<h2 class="section_title" v-html="tr('hiw_attendee_title')"></h2>
						<div v-html="tr('hiw_attendee_textbox')"></div>
					</div>
					<div class="right image">
						<div class="image_box">
							<img src="@/img/howitworks/attendee.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section_useopenexpo_home section_home_style">
		<div class="container">
			<h2 class="section_title" v-html="tr('hiw_useopenexpo_title')"></h2>
			<div class="items flex">
				<div class="item">
					<img src="@/img/home/use1.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item1_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item1_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use2.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item2_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item2_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use3.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item3_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item3_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use4.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item4_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item4_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use5.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item5_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item5_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use6.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item6_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item6_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use7.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item7_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item7_text')}}
					</p>
				</div>
				<div class="item">
					<img src="@/img/home/use8.png" alt="">
					<h3 class="item_title">{{tr('hiw_useopenexpo_item8_title')}}</h3>
					<p class="text">
						{{tr('hiw_useopenexpo_item8_text')}}
					</p>
				</div>
			</div>
			<div class="bottom_button_box">
				<p class="text" v-html="tr('hiw_useopenexpo_bottom_text')"></p>
				<router-link :to="'/'+routes.addevent" class="btn btn_md btn_orange">{{ tr('hiw_create_event_button')}}!</router-link>
			</div>
		</div>
	</div>

	<section class="section_faq_home section_home_style">
		<div class="container">
			<h2 class="section_title" v-html="tr('hiw_faq_title')"></h2>
			<div class="accordeon">
				<ui-collapsible removeIcon disableRipple v-for="faq in getFaq">
	                <div class="accordeon_header" slot="header">
	                    <div class="icon_block"></div><div class="accordeon_title">{{faq.item_title}}</div>
	                </div>

	                <div class="accordeon_text" v-html="faq.item_text">{{faq.item_text}}</div>
	            </ui-collapsible>
			</div>
			<div class="bottom_button_box">
				<p class="text">{{tr('hiw_faq_bottom_text')}}</p>
				<router-link :to="'/'+routes.howitworks" class="btn btn_md btn_orange">{{tr('hiw_faq_bottom_button')}}</router-link>
			</div>
		</div>
	</section>

</div>
