$grey80: #254854;
$grey60: #386D7D;
$grey40: #7096A1;
$grey20: #AFC5CB;
$grey10: #EBF0F2;
$orange: #E5843D;
$black: #1A323B;


.mymeetings_page .content_sidebar_left .main .main_form_box {
	max-width: 848px;
}