<article class="article-block article-block--blue">
    <div class="content-wrapper content-wrapper--w100">
        <h2 class="article-title article-title--center article-title-m" v-html="tr('other_features_title')"></h2>

        <div class="features__slider">
            <splide class="splide">
                <splide-slide class="splide__slide">
                    <ul class="features_list features-grid article-block--blue">
                        <li class="features_list-item features-grid_big">
                            <router-link :to="'/'+routes.feature+'/'+routes.advanced_sponsorship" class="feature_link">
                                <div class="feature_item">
                                    <div class="feature_logo">
                                        <img class="feature_logo_img" src="@/img/static-pages/features/sponsorship.png" alt="Advanced sponsorship" width="62" height="70">
                                    </div>
                                    <h3 class="feature_title">{{tr('advancedsponsorship_title')}}</h3>
                                    <p class="feature_text">{{tr('advancedsponsorship_text')}}</p>
                                    <div class="feature_arrow">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more" class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                        <li class="features_list-item features-grid_big">
                            <router-link :to="'/'+routes.feature+'/'+routes.streaming_integrations" class="feature_link">
                                <div class="feature_item">
                                    <div class="feature_logo">
                                        <img class="feature_logo_img" src="@/img/static-pages/features/livestreaming.png" alt="Streaming integrations" width="62" height="70">
                                    </div>
                                    <h3 class="feature_title">{{tr('streamingintegrations_title')}}</h3>
                                    <p class="feature_text">{{tr('streamingintegrations_text')}}</p>
                                    <div class="feature_arrow">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more" class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                        <li class="features_list-item features-grid_small">
                            <router-link :to="'/'+routes.feature+'/'+routes.event_permissions_management" class="feature_link feature_link--small">
                                <div class="feature_item feature_item--small">
                                    <div class="feature_item--small-main">
                                        <div class="feature_logo">
                                            <img class="feature_logo_img" src="@/img/static-pages/features/permissions.png" alt="Permissions" width="62" height="70">
                                        </div>
                                        <h3 class="feature_title">{{tr('event_permission_management_title')}}</h3>
                                    </div>
                                    <div class="feature_arrow--small">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more " class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                        <li class="features_list-item features-grid_small">
                            <router-link :to="'/'+routes.feature+'/'+routes.custom_field" class="feature_link feature_link--small">
                                <div class="feature_item feature_item--small">
                                    <div class="feature_item--small-main">
                                        <div class="feature_logo">
                                            <img class="feature_logo_img" src="@/img/static-pages/features/field.png" alt="Custom field registration" width="62" height="70">
                                        </div>
                                        <h3 class="feature_title">{{tr('custom_field_registration_title')}}</h3>
                                    </div>
                                    <div class="feature_arrow--small">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more " class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                    </ul>
                </splide-slide>
                <splide-slide class="splide__slide">
                    <ul class="features_list features-grid article-block--blue">
                        <li class="features_list-item features-grid_small">
                            <router-link :to="'/'+routes.feature+'/'+routes.booths_and_stands" class="feature_link feature_link--small">
                                <div class="feature_item feature_item--small">
                                    <div class="feature_item--small-main">
                                        <div class="feature_logo">
                                            <img class="feature_logo_img" src="@/img/static-pages/features/stand.png" alt="Unlimited number of booths/stands on the event" width="62" height="70">
                                        </div>
                                        <h3 class="feature_title">{{tr('unlimited_booths_stands_title')}}</h3>
                                    </div>
                                    <div class="feature_arrow--small">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more " class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                        <li class="features_list-item features-grid_big">
                            <router-link :to="'/'+routes.feature+'/'+routes.inhouse_broadcast" class="feature_link">
                                <div class="feature_item">
                                    <div class="feature_logo">
                                        <img class="feature_logo_img" src="@/img/static-pages/features/inhouse.png" alt="In-House Video/Broadcasting" width="62" height="70">
                                    </div>
                                    <h3 class="feature_title">{{tr('inhouse_video_title')}}</h3>
                                    <p class="feature_text">{{tr('inhouse_video_text')}}</p>
                                    <div class="feature_arrow">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more" class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                        <li class="features_list-item features-grid_big">
                            <router-link :to="'/'+routes.feature+'/'+routes.event_customisation" class="feature_link">
                                <div class="feature_item">
                                    <div class="feature_logo">
                                        <img class="feature_logo_img" src="@/img/static-pages/features/customise.png" alt="Customisation of the event page" width="62" height="70">
                                    </div>
                                    <h3 class="feature_title">{{tr('customisations_event_title')}}</h3>
                                    <p class="feature_text">{{tr('customisations_event_text')}}</p>
                                    <div class="feature_arrow">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more" class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                        <li class="features_list-item features-grid_small">
                            <router-link :to="'/'+routes.feature+'/'+routes.chat_at_the_event" class="feature_link feature_link--small">
                                <div class="feature_item feature_item--small">
                                    <div class="feature_item--small-main">
                                        <div class="feature_logo">
                                            <img class="feature_logo_img" src="@/img/static-pages/features/chat.png" alt="Chat with stand staff" width="62" height="70">
                                        </div>
                                        <h3 class="feature_title">{{tr('chat_with_staff_title')}}</h3>
                                    </div>
                                    <div class="feature_arrow--small">
                                        <img src="@/img/static-pages/arrow-or.png" alt="Read more " class="feature_arrow-img" width="34" height="20">
                                    </div>
                                </div>
                            </router-link>
                        </li>
                    </ul>
                </splide-slide>
            </splide>
        </div>

        <div class="added-info">
            <p class="article_text article_text--center" v-html="tr('what_are_you_waiting_for')"></p>
            <router-link :to="'/'+routes.addevent" class="primary-btn">{{tr('create_event_btn')}}</router-link>
        </div>
    </div>
</article>