<section class="my_events_main preloader_wrapper">
	
	<div class="preloader_overlay" v-show="preload"><ui-progress-circular color="primary" ></ui-progress-circular></div>

	<div class="container" :class="{'op_loading': preload}">
		<div class="my_events_not_found" v-if="notFound">
			<img src="../img/illustration_calendar.svg" alt="">
			<div class="big_text">{{tr('myevents_noevents_text')}}</div>
			<router-link :to="'/'+routes.discover" v-if="features.discover" class="btn btn_orange btn_md">
				{{tr('myevents_search_events')}}
			</router-link>
		</div>
		<div class="my_events_grid_section" v-if="!notFound">
			
			<div class="my_events_search_block events_search_block">
				<div class="events_search">
					<div class="events_search_left flex">
						<div class="search_input_block">
							<input type="search" v-model="searchString" class="search_input" :placeholder="tr('myevents_search_ph')">
							<a href="#" class="search_btn"><img src="../../../img/search_icon.svg" alt=""></a>
						</div>	
					</div>

					<div class="events_search_right flex">
						<div class="events_search_date">
							<ui-datepicker
				                :placeholder="tr('select_a_date')"
				                iconPosition="right"
				                v-model="date_val"
				                :lang="datepicker_lang"
				            >
				            	<img slot="icon" src="../../../img/dropdown_arrow.svg" alt="">
				            	{{tr('date')}}
				            </ui-datepicker>
				            <!-- <ui-datepicker
				                placeholder="Select a date"
				                iconPosition="right"
				                v-model="date_val"
				                :lang="datepicker_lang"
				            >
				            	<img slot="icon" src="../../../img/dropdown_arrow.svg" alt="">
				            	Date
				            </ui-datepicker> -->
						</div>
						<!-- <div class="filter_trigger_block"><a href="#" @click="triggerFilter" class="filter_trigger"><img src="../../../img/filter_icon.svg" alt=""></a></div> -->
					</div>
				</div>
				<div class="events_search_filter_items" v-if="expand_filter">
					<!-- <div class="filter_item">
						<div class="text">
							<div class="item_title">{{tr('order_by')}}:</div>
							<div class="item_text">{{tr('order_by')}}</div>
						</div>
						<a href=""><img src="../../../img/dropdown_arrow.svg" alt="" class="dropdown_img"></a>
					</div>
					<div class="filter_item">
						<div class="text">
							<div class="item_title">{{tr('event_type')}}</div>
							<div class="item_text">{{tr('event_type')}}</div>
						</div>
						<a href=""><img src="../../../img/dropdown_arrow.svg" alt="" class="dropdown_img"></a>
					</div> -->
				<!-- 	<div class="filter_item">
						<div class="text">
							<div class="item_title">Country</div>
							<div class="item_text">Select country</div>
						</div>
						<a href=""><img src="../../../img/dropdown_arrow.svg" alt="" class="dropdown_img"></a>
					</div>
					<div class="filter_item">
						<div class="text">
							<div class="item_title">City</div>
							<div class="item_text">Select city</div>
						</div>
						<a href=""><img src="../../../img/dropdown_arrow.svg" alt="" class="dropdown_img"></a>
					</div> -->
					
				</div>
			</div>

			<div class="events_grid">

				<div class="events_item events_list_item"  v-for="event in filteredEventsList">
					<router-link :to="'/'+routes.event+'/'+(event.customName ? event.customName :event.id)" class="img_block" :class="{'image_placeholder': !event.templateCoverUrl }"><img :src="event.templateCoverUrl" alt=""></router-link>
					<div class="content">
						
						<div class="main">
							<div class="left">
								<router-link :to="'/'+routes.event+'/'+(event.customName ? event.customName :event.id)"><h3 class="title">{{event.name}}</h3></router-link>
								<p class="descr">{{event.description_short}}</p>
								<div class="location flex">
									<!-- <img src="../../../img/loc2.svg" alt="">
									<p>London, UK</p> -->
									<p v-if="event.langList">{{event.langList}}</p>
								</div>
							</div>
							<div class="right flex">
								<div class="date" v-if="event.evtItemDate">
									<p class="month">{{event.evtItemDate.month}}</p>
									<p class="nums">{{event.evtItemDate.date}}</p>
								</div>
								<div class="logo"><img :src="event.logoUrl" alt=""></div>
							</div>
							
						</div>
						<div class="bottom flex">
							<div class="left">
								<div class="info_items">
									<!-- <div class="info_item">
										<p class="info_title">Tickets sold</p>
										<p class="info_text">200</p>
									</div>
									<div class="info_divider"></div> -->
									<!-- <div class="info_item">
										<p class="info_title">Raised</p>
										<p class="info_text">€800.00</p>
									</div>
									<div class="info_divider"></div> -->
									<div class="info_item">
										<p class="info_title">{{tr('stands')}}</p>
										<p class="info_text">{{event.standsCount}}</p>
									</div>
									<div class="info_divider"></div>
									<div class="info_item">
										<p class="info_title">{{tr('status')}}</p>
										<p class="info_text">{{eventStatus(event)}}</p>
									</div>
								</div>
							</div>
							<div class="right">
								<div class="action_buttons">
									<router-link :to="'/'+routes.event+'/'+(event.customName ? event.customName :event.id)" class="action_button">
										<img src="../../../img/preview_filled.svg" alt=""><span>{{tr('preview')}}</span>
									</router-link>
									<router-link :to="'/'+routes.editevent+'/'+event.id" class="action_button">
										<img src="../../../img/edit_filled.svg" alt=""><span>{{tr('manage')}}</span>
									</router-link>
<!-- 									<a href="#" class="action_button"><img src="../../../img/preview_filled.svg" alt=""><span>Preview</span></a>
									<a href="#" class="action_button"><img src="../../../img/edit_filled.svg" alt=""><span>Edit</span></a>	 -->
								</div>
							</div>
							
						</div>
					</div>
					<div class="time_remaning">{{dateLeft(event)}}</div>
				</div>

			</div>

		</div>
	</div>
</section>